# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules

# next.js
/.next/
/out/

# production
/build

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts


POSTGRES_URL="postgres://postgres.vycxxgpjuezlpxpvonkg:AIw4DXKLRzYq6InK@aws-0-us-east-1.pooler.supabase.com:6543/postgres?sslmode=require&supa=base-pooler.x"
POSTGRES_PRISMA_URL="postgres://postgres.vycxxgpjuezlpxpvonkg:AIw4DXKLRzYq6InK@aws-0-us-east-1.pooler.supabase.com:6543/postgres?sslmode=require&supa=base-pooler.x"
SUPABASE_URL="https://vycxxgpjuezlpxpvonkg.supabase.co"
NEXT_PUBLIC_SUPABASE_URL="https://vycxxgpjuezlpxpvonkg.supabase.co"
POSTGRES_URL_NON_POOLING="postgres://postgres.vycxxgpjuezlpxpvonkg:AIw4DXKLRzYq6InK@aws-0-us-east-1.pooler.supabase.com:5432/postgres?sslmode=require"
SUPABASE_JWT_SECRET="nYnNsD+wLCCpZdohJqvlLtBJCQWRkWL2oqa3QqhiNE/9B3z2KeVywUwPlPC7enZtSzKRztY26HHybm2LW27Pdg=="
POSTGRES_USER="postgres"
NEXT_PUBLIC_SUPABASE_ANON_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZ5Y3h4Z3BqdWV6bHB4cHZvbmtnIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NDYxNTU4OTksImV4cCI6MjA2MTczMTg5OX0.m2qAnuGkOCfjhjiMAklhxSv-N9B1C7HKSyDQout8NuA"
POSTGRES_PASSWORD="AIw4DXKLRzYq6InK"
POSTGRES_DATABASE="postgres"
SUPABASE_SERVICE_ROLE_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZ5Y3h4Z3BqdWV6bHB4cHZvbmtnIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc0NjE1NTg5OSwiZXhwIjoyMDYxNzMxODk5fQ.lrpnifr-179k3SThq0knvWg1IpOFZ_Q0vtDnQzTvL2Y"
POSTGRES_HOST="db.vycxxgpjuezlpxpvonkg.supabase.co"
NEXT_PUBLIC_SUPABASE_ANON_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZ5Y3h4Z3BqdWV6bHB4cHZvbmtnIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NDYxNTU4OTksImV4cCI6MjA2MTczMTg5OX0.m2qAnuGkOCfjhjiMAklhxSv-N9B1C7HKSyDQout8NuA"